@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  font-size: 62.5%;
  font-family: "Noto Serif JP", "Noto Serif", メイリオ, sans-serif;
  font-weight: bold;
}
body {
  background-color: #fff;
  letter-spacing: 2px;
}
.section-title {
  font-size: 6rem;
  font-style: italic;
  color: #333;
}
.section-title:after {
  content: "";
  display: inline-block;
  width: 200px;
  height: 5px;
  background-color: #333;
  vertical-align: middle;
  transform: translateY(-100%);
  margin-left: 30px;
}
.section-title-our {
  color: #171717;
  opacity: 5%;
  font-size: 9rem;
}
/*--------------------------
    HEADER
----------------------------*/
.header {
  height: 96px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: #fff;
  font-style: italic;
}
/*scrollTopが752-96=656 をすぎるとこのクラスを付加*/
.header-bg-dark {
  background-color: #282f35;
}
.header-wrapper {
  display: flex;
  margin: auto 120px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-logo {
  font-size: 2.6rem;
}
.header-nav ul {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
}
.header-nav .nav-item {
  display: inline-block;
  margin-left: 30px;
}
.header-humberger {
  display: none;
}
.humberger-modal {
  display: none;
}
/*--------------------------
    FIRST VIEW
----------------------------*/
.first-view {
  width: 100%;
  position: relative;
}
.fv-heading {
  position: absolute;
  z-index: 1;
  top: 409px;
  left: 120px;
  color: #fff;
  text-align: center;
}
.fv-heading-main {
  font-size: 7rem;
  margin-bottom: 30px;
}
.fv-heading-sub {
  font-size: 4rem;
}

/*--------------------------
    CONCEPT
----------------------------*/
.concept {
  width: 100%;
  padding-top: 85px;
  padding-bottom: 70px;
}
.concept-wrapper {
  margin: 0 120px;
}
.concept .section-title {
  margin-left: 100px;
}
.concept-sub-title {
  display: block;
  margin: 70px auto 0;
  text-align: center;
  font-size: 3rem;
}
.concept-content-wrapper {
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.concept-content-text {
  width: 440px;
  margin-left: 100px;
  text-align: left;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.9;
}
.concept-content-image-box {
  margin-left: 120px;
  width: 440px;
  height: 240px;
}
.concept-content-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.concept .section-title-our {
  margin-top: 90px;
  text-align: right;
}

/*--------------------------
    WORKS
----------------------------*/
.works {
  width: 100%;
  background-image: url(/docs/img/works-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 70px;
}
.works-wrapper {
  margin: 0 100px;
}
.works-wrapper .section-title {
  text-align: right;
  color: #fff;
}
.works-wrapper .section-title:after {
  background-color: #fff;
}
.works-card-container {
  margin: 80px 100px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.works-card {
  width: 320px;
  height: 334px;
  background-color: #fff;
  box-shadow: 0 0 8px #1b1310;
}
.works-card-image-box {
  width: 320px;
  height: 200px;
}
.works-card-text-box {
  display: flex;
  width: 320px;
  height: 134px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}
.works-card-text {
  font-size: 1.6rem;
  text-align: center;
  font-weight: normal;
}
.works-button {
  margin: 80px auto 0;
  width: 235px;
  height: 60px;
  border-radius: 30px;
  background-color: #f7d43f;
  box-shadow: 0 0 8px #1b1310;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 3.75;
}
.works-button-area {
  display: block;
  border-radius: 30px;
  height: 100%;
  width: 100%;
}
.works-button:hover {
  opacity: 0.8;
}
.works .section-title-our {
  margin-top: 70px;
  color: #fff;
  opacity: 10%;
}

/*--------------------------
    SERVICE
----------------------------*/
.service {
  background-color: #fff;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 70px;
}
.service-wrapper {
  width: 100%;
}
.service .section-title {
  margin-left: 100px;
}
.service-card-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.service-card {
  margin-top: 30px;
  background-color: #f7d43f;
  width: 480px;
  height: 320px;
  position: relative;
}
.service-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}
.service-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-size: 4rem;
  font-style: italic;
}
.service .section-title-our {
  margin-top: 70px;
  text-align: right;
}

/*--------------------------
    CONTACT
----------------------------*/
.contact {
  width: 100%;
  background: url(/docs/img/contact-bgi@2x.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 110px;
  padding-bottom: 120px;
}
.contact-wrapper {
  margin: 0 120px;
}
.contact .section-title {
  text-align: right;
  color: #fff;
}
.contact .section-title:after {
  background-color: #fff;
}
.contact-text {
  margin-top: 100px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}
.contact-button {
  margin: 50px auto 0;
  width: 235px;
  height: 60px;
  border-radius: 30px;
  background-color: #f7d43f;
  box-shadow: 0 0 8px #1b1310;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 3.75;
}
.contact-button-area {
  display: block;
  border-radius: 30px;
  height: 100%;
  width: 100%;
}
.contact .section-title-our {
  margin-top: 70px;
  color: #fff;
  opacity: 10%;
}

/*--------------------------
    FOOTER
----------------------------*/
.footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text {
  font-size: 1.4rem;
}

/*--------------------------
    MEDIA SCREEN
----------------------------*/
@media (max-width: 520px) {
  .section-title {
    font-size: 3rem;
  }
  .section-title:after {
    width: 90px;
  }
  .section-title-our {
    font-size: 4rem;
  }
  /*--------------------------
        HEADER
    ----------------------------*/
  .header-wrapper {
    margin: auto 15px;
  }
  .header-nav {
    display: none;
  }
  .header-humberger {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
  }
  .header-humberger-area {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 150;
  }
  .header-humberger-area a {
    width: 100%;
    height: 100%;
  }
  .header-humberger-area span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 0px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    width: 100%;
  }
  .header-humberger-area span:nth-of-type(1) {
    top: 0;
  }
  .header-humberger-area span:nth-of-type(2) {
    top: 8.5px;
  }
  .header-humberger-area span:nth-of-type(3) {
    bottom: 0;
  }
  .header-humberger.active span:nth-of-type(1) {
    top: 3px;
    left: 3px;
    transform: translateY(6px) rotate(-45deg);
    width: 20px;
  }
  .header-humberger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .header-humberger.active span:nth-of-type(3) {
    top: 15px;
    left: 3px;
    transform: translateY(-6px) rotate(45deg);
    width: 20px;
  }
  .humberger-modal {
    display: none;
  }
  .humberger-modal.active {
    display: flex;
    background-color: #282f35;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    animation: appear 0.3s ease-in-out;
  }
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .humberger-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .humberger-nav-item a {
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
    line-height: 3;
  }

  /*--------------------------
    FIRST VIEW
  ----------------------------*/
  .swiper {
    display: none;
  }
  .first-view {
    background: url(https://github.com/kazuyafuji/CrestaSecond/blob/main/docs/img/fv-bgi_01@2x.jpg?raw=true)
      no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
  }
  .fv-heading {
    top: 200px;
    left: 0;
    right: 0;
  }
  .fv-heading-main {
    font-size: 3.7rem;
    margin-bottom: 60px;
  }
  .fv-heading-sub {
    font-size: 3rem;
  }
  /*--------------------------
    CONCEPT
  ----------------------------*/
  .concept {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .concept-wrapper {
    margin: 0 15px;
  }
  .concept .section-title {
    margin-left: 0;
  }
  .concept-sub-title {
    font-size: 2rem;
  }
  .concept-content-wrapper {
    display: block;
    margin-top: 45px;
    flex-direction: column;
  }
  .concept-content-text {
    margin: 0;
    font-size: 1.6rem;
  }
  .concept-content-image-box {
    margin-left: 0;
    margin: 30px auto 0;
    width: 345px;
    height: 150px;
  }
  .concept .section-title-our {
    margin-top: 40px;
  }

  /*--------------------------
    WORKS
  ----------------------------*/
  .works {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .works-wrapper {
    margin: 0 15px;
  }
  .works-card-container {
    margin: 0;
    width: 320px;
    margin: 0 auto;
  }
  .works-card {
    margin-top: 30px;
  }
  .works-card:nth-of-type(1) {
    margin-top: 50px;
  }
  .works .section-title-our {
    margin-top: 40px;
  }

  /*--------------------------
    SERVICE
  ----------------------------*/
  .service {
    padding-bottom: 64px;
  }
  .service .section-title-our {
    margin-top: 40px;
  }

  /*--------------------------
    CONTACT
  ----------------------------*/
  .contact {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .contact-wrapper {
    margin: 0 15px;
  }
  .contact-wrapper .section-title {
    margin: 0;
  }
  .contact-text {
    margin-top: 80px;
  }
  .contact-button {
    margin-top: 40px;
  }
  .contact .section-title-our {
    margin-top: 40px;
  }
}
